@charset "utf-8";



body{font-size:13px;*font-size:small;*font:x-small;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

select, input, textarea {font-size:99%;}

table {font-size:inherit;font:100%;}





.size_1{font-size:85%;}

.size_2{font-size:93%;}

.size_3{font-size:108%;}

.size_4{font-size:116%;}

.size_5{font-size:123.1%;}







